
<main>
  <h2>Login</h2>
  <form id="login-form">
    <label>Email: <input type="email" name="email" required /></label><br />
    <label>Password: <input type="password" name="password" required /></label><br />
    <button type="submit">Login</button>
  </form>
  <br>
  <p>Don't have an account? <a href="/auth/register">Register here</a></p>
</main>
